@import "tailwindcss";

@theme{
  --color-customRed : hsl(356, 100%, 66%);
  --color-customWhite: hsl(0, 0%, 100%);
  --color-hoverRed: hsl(355, 100%, 74%);
  --color-darkBlue: hsl(208, 49%, 24%);
  --color-grayish: hsl(207, 13%, 34%);
  --color-darkGrayBlue: hsl(237, 17%, 21%);
  --color-desaturatedBlue: hsl(237, 23%, 32%);
}

*{
  font-family: "Overpass", sans-serif;
}

body{
 background: var(--color-customWhite);
 
}

.header-div{
  background: 
  url('./images/bg-pattern-intro-desktop.svg'),
  linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: 25% 50% ;
  border-bottom-left-radius: 5rem;
  background-size: auto;
 
}

.editorImage{

  top: 20;
  right: -250px;
}

.laptop-image{
  position: absolute;
  left: -280px;
}

.artComponent{
 background: 
 url('./images/bg-pattern-circles.svg') ,
 linear-gradient(to right, var(--color-darkGrayBlue), var(--color-desaturatedBlue));
 border-bottom-left-radius: 5rem;
 background-repeat: no-repeat;
 border-top-right-radius: 5rem;
 background-position: -30% 85%;
}

.main-image{
 
  position: absolute;
  left: 50px;
  top: -150px;
}

.footerBG {
  background: hsl(240, 10%, 16%);
  border-top-right-radius: 5rem;
}

/* 
- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)

*/


/* .design-div{
  background: url("./images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100%;
}
*/

