@import "tailwindcss";

@theme{
  --color-customRed : hsl(356, 100%, 66%);
  --color-customWhite: hsl(0, 0%, 100%);
  --color-hoverRed: hsl(355, 100%, 74%);
}

*{
  font-family: "Overpass", sans-serif;
}

body{
 background: var(--color-customWhite);
}

.header-div{
  background: 
  url('./images/bg-pattern-intro-desktop.svg'),
  linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: 25% 50% ;
  border-bottom-left-radius: 5rem;
  background-size: auto;
 
}

.editorImage{
  position: absolute;
  top: 0;
  right: -250px;
}

/* .design-div{
  background: url("./images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100%;
}
*/
